/* Main navbar container */
nav {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    position: fixed; 
    width: 100%;  
    top: 0;
    left: 0;
    z-index: 1000;  
    box-sizing: border-box; 
  }
  nav img{
    width:65px;
    height: 65px;
  }
  /* Navbar list styling */
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: auto; 
  }
  
  /* Navbar list items and link styling */
  nav li {
    margin-left: 15px; 
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s, text-decoration 0.3s;
    display: flex;
    align-items: center;
  }
  
  /* Hover effect for links */
  nav a:hover {
    background-color: #555;
  }
  
  /* Logout button styling */
  nav button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center; 
  }
  
  /* Hover effect for the button */
  nav button:hover {
    background-color: #d32f2f;
  }
  
  /* Add some padding to the body to account for the fixed navbar */
  body {
    margin-top: 60px; 
  }
