/* General styling for the event details page */
.event-details {
    height: 100vh;
    width: 100%;         
    max-width: 1500px;   
    margin-top: 0px;  
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;  
 
}
.event-details h2{
  font-size: 2.5rem;
  color: #333;
  margin-top: 50px;    
  margin-bottom: 30px; 
  position: relative;        
  z-index: 10;
  text-align: center; 
}
/* Event Image Styling */
.event-image {
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  height: 600px;
  border-radius: 8px;
  margin-bottom: 20px;
  
}

/* Event Title */
.event-details h1 {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
  margin: 20px 0;
}

/* Event Description */
.event-details p {
  font-size: 1.2rem;
  color: #666;
  line-height: 1.6;
  margin-bottom: 15px;
}
/* Footer styling */
.event-details .footer {
  width: 100vw;  
  background-color: #333; 
  color:red; 
  padding: 20px 0; 
  position: relative;
  bottom: 0;
  margin-top: auto; 
  display: flex;
  flex-direction: column;
}

/* Footer content alignment */
.event-details .footer .footer-content {
  color: white;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 0 20px; 
  width: 100%; 
}

/* Footer content headings and paragraphs */
.event-details .footer .footer-content h3,
.event-details .footer .footer-content p {
  margin: 0; 
}

/* Footer bottom styling */
.event-details .footer.footer-bottom {
  text-align: center; 
  padding: 10px 0; 
  background-color: #333; 
  width: 100vw; 
}

.event-details .footer .footer-bottom p {
  margin: opx; 
  font-size: 0.9rem; 
} 